:root {
    --primary-dark: #0A1E4A;
    --primary-blue: #5BCAF4;
    --bg-light: #F3F4F6;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    text-align: center;
}

.login-logo {
   height: auto;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-dark);
    margin-top: 0; 
    margin-bottom: 10px;
    font-size: 22px;
}

p {
    color: #6B7280;
    font-size: 14px;
    margin-bottom: 30px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--primary-dark);
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.input-group input:focus {
    border-color: var(--primary-blue);
    box-shadow: 0 0 0 3px rgba(91, 202, 244, 0.2);
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-dark);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #0d2a6b;
    transform: translateY(-1px);
}

.login-footer {
    margin-top: 25px;
    font-size: 13px;
}

.login-footer a {
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: 600;
}

.login-footer span {
    display: block;
    margin-top: 10px;
    color: #6B7280;
}